# Ignore dataset files
*.csv
*.xlsx
*.xls
*.json

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
*.env

# Ignore virtual environment folder (common names)
venv/
env/

# Ignore system or editor files
.DS_Store
Thumbs.db

# Ignore logs
*.log
